* {
  max-width: 100%;
}


@font-face {
  font-family: "wotfard";
  src: url("Wotfard-Regular.woff2");
  font-display: swap;
 }

 @font-face {
  font-family: "avalon";
  src: url("AvalonSquareRegular-ZZVapq.ttf");
  font-display: swap;
 }

 @font-face {
  font-family: 'CatherinedeBeaumont';
  src:url('../Assets/Fonts/CatherinedeBeaumont/CatherinedeBeaumont.ttf.woff') format('woff'),
      url('../Assets/Fonts/CatherinedeBeaumont/CatherinedeBeaumont.ttf.svg#CatherinedeBeaumont') format('svg'),
      url('../Assets/Fonts/CatherinedeBeaumont/CatherinedeBeaumont.ttf.eot'),
      url('../Assets/Fonts/CatherinedeBeaumont/CatherinedeBeaumont.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #111319;
  margin: 0;
  padding: 0;
  visibility: visible !important;
}

.contextmenu {
  display: none;
  position: absolute;
  top: 300px;
  left: 50%;

  height: 300px;
  width: 200px;
  background-color: #111319;
  border: 8px solid transparent;
  border-radius: 30px;
  background-image: linear-gradient(#111319, #111319), 
                    linear-gradient(360deg, #fd446f 0%, #f88935 100%);;
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: 300;
}


/*.contextmenu::before {
  content: "";
  position: absolute;
  display: block;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  background: hsla(346, 98%, 63%, 1);

background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fd426d", endColorstr="#f88a33", GradientType=1 );
  filter: blur(20px);
  
  z-index: -1;
}*/

.contextmenu-grid {
  display: grid;
  color: white;
  font-family: "poppins", sans-serif;
  height: 300px;
  width: 200px;
}

.contextmenu-item {
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
}
#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 10px;
  background: rgba(255, 255, 255, 0.05);
}

#scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  width: 10px;
  background: linear-gradient(to top, hsla(346, 98%, 63%, 1), hsla(26, 93%, 59%, 1));
  z-index: 100;
  animation: scrollbar 2s ease infinite;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#scrollbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, hsla(346, 98%, 63%, 1), hsla(26, 93%, 59%, 1));
  filter: blur(10px);
}

#scrollbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, hsla(346, 98%, 63%, 1), hsla(26, 93%, 59%, 1));
  filter: blur(30px);
}
.gradient {
  position: absolute;
  top: -600px;
  left: -500px;
  background: linear-gradient(to right, rgb(255,117,71, 1), rgb(255,117,71, 0));
  height: 1000px;
  width: 800px;
  transform: rotate(45deg);
}

.scrollbar {
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  position: absolute;
  right: 50px;
  top: 250px;
}

.scrollbar ul {
  list-style-type: none;
}

.scrollbar li {
  margin-top: 30px;
}

.inactive {
  color: gray;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
@media only screen and (max-width: 1200px) {

  #indicator-about {
    margin: 100px 0 0 30%;
  }
  .aboutContent {
    color: white;
    width: 10%;
  }
}

@media only screen and (min-width: 1200px) {

  #indicator-about {
    margin: 100px 0 0 50%;
  }
}

.indicator {
  color: transparent;
  font-family: "avalon", sans-serif;
  font-size: 20px;
  font-weight: 700px;
  position: absolute;
  top: 500px;
  left: 50px;
  z-index: 10;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(147, 146, 146);
}

.prelist {
  display: inline-block;
  background-color: white;
  height: 3px;
  width: 80px;
  margin: 10px 20px 5px 0;
  border-radius: 50px;
}

.prelist-inactive {
  display: inline-block;
  background-color: transparent;
  height: 3px;
  width: 80px;
  margin: 10px 20px 5px 0;
  border-radius: 50px;
}
.navbar-h {
  display: block;
  margin: 0 auto 0 auto;
  width: max-content;
  text-align: right;
  color: white;
  font-family: "Poppins",sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  /*
  background: linear-gradient(to right, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(to right, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(to right, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FD426D", endColorstr="#F88A33", GradientType=1 );

-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}

.navbar-h > ul{
  
  list-style-type: none;
  
}

.navbar-h a:link, .navbar-h a:visited {
  color: white;
  text-decoration: none;
}

.navbar-h li {
  display: inline;
  margin-right: 20px !important;
  
}

.navbar {
  visibility: hidden;
}

.logo-container {
  visibility: visible;
}
#logo {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 40px;
  width: 40px;
}

.socials {
  height: inherit;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  
}
#discord, #github, #paypal, #youtube, #spotify {
  position: relative;
  color: #e8e8e8;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
}

#menu {
  color: #595959;
  font-size: 20px;
}


#menu-container {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  height: 250px;
  width: calc(50vw - 4px);
  border: 2px solid #3b3b3b;
  background-color: #242424;
  
  /*
  background: linear-gradient(110deg,  
      white 10%, 
      white 23%, 
      #f88a33 23%,
      #fd426d 50%
  );

background-clip: text;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  border-radius: 5px;
  z-index: 20;
}

#home, #projects, #tools, #donate {
  display: inline-block;
  color: white;
  font-size: 19px;
  margin: 20px 10px 20px 10px;
}

#home {
  margin-left: 7px !important;
}

#projects, #donate {
  margin-right: 12.9px !important;
}
.menu-content {
  color: white;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
}
.spotify {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 20px;
  width: 100%;
}

#spotify-logo {
 height: 25px;
 width: 25px;

 margin-left: 7px;
}

.hometext {
  position: relative;
  height: 100px;
  width: 400px;
  padding-left: 0;
  margin: 100px 0 0 35px;
}

.pretitle {
  color: white;
  font-family: 12px;
  font-family: "poppins", sans-serif;
  margin-left: 3px;
}
.title {
  color: white;
  font-size: 65px;
  line-height: 1em;
  font-family: "Roboto";
  font-weight: 700;
  margin-top: 10px;
}

.title p {
  display: inline;
  background: hsla(346, 98%, 63%, 1);

background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FD426D", endColorstr="#F88A33", GradientType=1 );
background-clip: text;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  height: 60px;
  position: relative;
  color: white;
  font-size: 22px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  line-height: 50px;
  margin-top: -10px;
  margin-left: 3px;
  }

#arrow {
  position: relative;
  color: #747f8c;
  line-height: 30px;
  text-align: center;
  margin-top: 0px;
  z-index: 10;
}

#arrow2 {
  display: none;
  position: relative;
  color: #747f8c;
  line-height: 30px;
  text-align: center;
  margin-top: 0px;
  transform: rotate(-180deg);
  z-index: 10;
}

#arrow2:hover {
  cursor: pointer;
}
.age {
  display: inline-block;
  background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);
  font-family: "Roboto";
  font-weight: 700;
  animation: rotation 10s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.json {
  display: none;
  position: absolute;
  top: 900px;
  right: 100px;
  height: 350px;
  width: 300px;
  background-color: #002240;
  border-radius: 5px;
  z-index: 300;
  margin-left: 10px;
}

/*
#json::before {
  content: "";
  position: absolute;
  display: block;
  height: 350px;
  width: 300px;
  border-radius: 5px;
  background: hsla(346, 98%, 63%, 1);

background: linear-gradient(360deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(360deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(360deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fd426d", endColorstr="#f88a33", GradientType=1 );
  filter: blur(20px);
  
  z-index: -1;
}
*/
#arrow-container {
  display: inline-block;
  width: max-content;
  height: 50px;
  text-align: center;
  margin-left: 110px;
}
#button-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  position: relative;
  height: 30px;
  width: max-content;
  margin: 30px 0 0 40px;
}
.more2, #more, #moretext{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  }
#more:hover, .more2:hover {
  cursor: pointer;
}

#more {
  height: 30px;
  width: 150px;
  color: #060411;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 1px;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(346, 98%, 63%, 1);

background: linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fd426d", endColorstr="#f88a33", GradientType=1 );

  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  z-index: 3;
  
}

.more2 {
  display: flex;
  height: 30px;
  width: 150px;
  position: relative;
  opacity: 1;
   background: 
    linear-gradient(#060411, #060411) padding-box,
    linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%) border-box;
  border: 4px solid transparent;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
 /* animation: opacity2 3s infinite;*/
  z-index: 1;
}

#moretext  { 
  background: linear-gradient(45deg, #fc4570 0%, #f88935 100%);

background: -moz-linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fd426d", endColorstr="#f88a33", GradientType=1 );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 30px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* opacity: 0;
  animation-delay: 6s;
  animation: opacity2 3s infinite;*/
  z-index: 2;
}

.dots {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

#line {
  height: 2px;
  background-color: #00162e;
  margin-top: 2px;
}
.basic {
  display: inline;
  color: white; 
  font-family: monospace;
  margin-left: -3px;
}

.const{
  display: inline;
  color: #9afafb
;
  font-family: "monospace";
}

.key {
  display: inline;
  color: #a28cbb;
}

.key2 {
  display: inline;
  color: #ff80e1;
}

.string {
  display: inline;
  color: #2aa811;
}

.brackets {
  display: inline;
}

.about {
  position: relative;
  width: 100%;
  height: 1050px;
  margin-top: 200px;
}


  .curve-wrapper {
    position: relative;

    height: max-content;
    width: 100%;
    padding: 0;
    min-width: 1500px;
  }




.precurve, .aftercurve {
 filter: blur(20px);
}
.curve, .curve2 {
  position: absolute;
  top: 8px;
  height: max-content;
  width: 100%;
  z-index: 10;
}

#curve-wrapper2 {
  position: absolute;
  top: 350px;
  transform: rotate(180deg);
  z-index: -1;
}

/*
.precurve {
  position: relative;
  margin-top: 200px;
  filter: blur(20px);
  z-index: -20;
  
}*/
.precurve path, .aftercurve path {
  fill: url("#SvgGradient");
  
}
/*
.aftercurve {
  position: relative;
  margin-top: -330px;
  margin-bottom: -410px;
  transform: rotate(180deg);
  filter: blur(20px);
  z-index: -20;
}
.curve {
  position: relative;
  margin-top: -335px;
}

.curve2 {
  position: relative;
  margin-top: 180px;
  transform: rotate(180deg);
}*/

.link {
  text-decoration: none;
  color: #0060df;
  font-family: "roboto", sans-serif;
}

.about-cont {
  display: inline;
  position: absolute;
  top: 335px;
  height: 390px;
  width: 100%;
  background-color: #181A21;
}

.prequote {
  display: none;
  position: relative;
  height: 80px;
  width: 5px;
  background-color: gray;
  border-radius: 50px;
  margin: 50px 0 0 55px;
}
.quote-author, .quote {
  font-family: "poppins";
  font-size: 15px;
  font-weight: 200;
  opacity: 0.4;
}
.quote-author {
  display: inline-block;
  width: 300px;
  margin: 10px 0 0 70px;
  color: white;
  text-align: right;
}
.quote {
  margin: 60px 0 0 60px;
  color: white;
}
.quote::before {
  content: "";
  height: calc(1em + 40px);
  width: 3px;
  position: absolute;
  margin-left: -10px;
  background-color: gray;
  border-radius: 50px;
  z-index: 200;
}
.line {
  height: 3px;
  width: 50px;
  background-color: #ff7547;
  margin: -8px 0 0 80px;
  border-radius: 50px;
  filter: blur(0.4px);
}
.or-title {
  font-family: "poppins";
  font-size: 12px;
  letter-spacing: 2px;
  color: #ff7547;
  font-weight: 700;
  line-height: 1.2;
  margin: 10px 0 10px 50px;
}

.wh-subtitle {
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  margin: -15px 0 0 50px;
}
.wh-content {
  font-family: "poppins", sans-serif;
  font-size: 15px;
  margin: 0 0 0 50px; 
  color: white;
}


.aboutContent {
  position: relative;
  margin-top: 10px;
  color: white;
  width: 60%;
  z-index: 100;
}

.projects {
  margin: 0 0 100px 0;

}

.projects-content {
  display: flex;
  margin: 100px auto 0 auto;
  height: max-content;
  width: max-content;
}

.projects-item {
  position: relative;
  height: 300px;
  width: 400px;
  background-color: #181A21;
  border-radius: 20px;

}

.projects-img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.projects-title {
  position: absolute;
  top: 10px;
  left: 120px;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  z-index: 10;
}

.projects-date {
  position: absolute;
  top: 35px;
  left: 120px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  color: #A1A1A1;
}

.projects-description {
  color: white;
  font-family: "roboto", sans-serif;
  margin-left: 17px;
  margin-top: 10px;
}

.projects-button {
  display: none;
  margin: 120px auto 0 auto;
  height: 36px;
  width: 300px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  color: #111319;
  background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);
  border-radius: 50px;
}

.projects-filter {
  display: block;
  width: max-content;
  margin: 10px auto 0 auto;
  color: white;
  
}

.filter-btn {
  height: 30px;
  width: 100px;
  background-color: #ff7547;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "poppins", sans-serif; 
  margin-left: 10px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
    box-shadow: inset 0 0 0.5em 0 #ff7547, 0 0 0.5em 0 #ff7547;
    position: relative;
    cursor: pointer;
}

.filter-btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #ff7547;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.filter-btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #ff7547;
  opacity: 0;
  background-color: #ff7547;
  z-index: -1;
  transition: opacity 100ms linear;
  border: 2px solid #ff7547;
  border-radius: 5px;
}

.filter-btn:hover,
.filter-btn:focus {
  border-radius: 5px;
  color: white;
  text-shadow: none;
  background-color: #B1553B;
  border: 2px solid #ff7547;
}

.filter-btn:hover::before,
.filter-btn:focus::before {
  opacity: 1;
  top: 130%;
}
.filter-btn:hover::after,
.filter-btn:focus::after {
  opacity: 1;
}

.break {
  height: 0;
  flex-basis: 100%;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0px;
  height: 600px;
  width: 500px;
  margin: 0 auto 0 auto;
  padding: 10px;
  background-color: #181a21;
  border-radius: 24px;
}


#contact-email {
  width: auto;
  height: 82px;
  flex: 1 1 0px;
  flex-wrap: wrap-reverse;
  background-color: #242835;
  border-radius: 18px;
  padding-left: 20px;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  outline: none;
  border: none;
}

#contact-message {
  height: 350px;
  width: auto;
  flex: 1 1 0px;
  background-color: #242835;
  border-radius: 18px;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  resize: none;
}

.custom-file-upload {
  display: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  cursor: pointer;
  background-color: #242835;
  flex: 1 1 0px;
  border-radius: 18px;
}

#upload-text {
  color: #757575;
  font-family: "roboto", sans-serif;
  white-space: nowrap;
  margin-left: 200px;
}

#contact-file {
  visibility: hidden;
  height: min-content;

}

.contact-submit {
  display: block;
  height: 50px;
  width: 280px;
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: "roboto", sans-serif;
  margin: 0 auto 0 auto;
  background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);
  cursor: pointer;
}

.posts {
  display: none;
}

#subscribe {
  display: inline-block;
  color: #9fa9b7;
  margin-left: 5px;
  margin-top: -1.7px;
}

#subscribe:hover {
  cursor: pointer;
}

#popup {
display: none;
position: absolute;
top: 390px;
height: 260px;
width: 360px;
border: 0;
z-index: 20;
}

#posts-num p, #posts-num {
  font-family: "wotfard";
  color: #9fa9b7;
  margin-bottom: 19px;
}
#posts-num p {
  display: inline;
  margin-left: 10px;
}

.post {
  height: 100px;
  /*border: 2px solid #3b4163;*/
  border-radius: 15px;
  margin-bottom: 9px;
}

.post:hover {
  cursor: pointer;
}
.date {
  color: #727d92;
  font-family: "wotfard";
  font-size: 15px;
  margin-left: 8px;
}
.post h6 {
  margin-top: 11px;
  margin-left: 5px;
  color: white;
  font-family: "Roboto";
  font-size: 20px;

}


.post p:not(.date) {
  color: #9faab8;
  font-family: "Sriracha";
  margin-top: -30px;
  margin-left: 7px;
  
}


footer {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #181a21;
  margin-top: 100px;
  align-items: center;
}


#footer-gradient {
  margin-top: -90px;
  margin-left: -100px;
  z-index: -1;
}

#footer-gradient rect {
  fill: url("#SvgGradient2");
  filter: blur(20px)
}


footer p {
  color: white;
  font-family: "roboto", sans-serif;
  margin-left: 10px;
}

footer div {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#footer-discord, #footer-github, #footer-paypal, #footer-youtube, #footer-spotify {
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-right: 15px;
  transition: font-size 50ms;
}

#footer-discord:hover, #footer-github:hover, #footer-paypal:hover, #footer-youtube:hover, #footer-spotify:hover {
font-size: 28px;
}

.languages {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  justify-content: center;
  height: 100px;
  width: 400px;
  padding-left: 10px;
  background-color: #181a21;
  float: right;
  margin-top: 200px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.languages img {
  display: block;
  height: 50px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* STATES ---------------------*/
#online, #dnd, #idle, #offline {
 display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 3px solid #141622;
  z-index: 20;
  
}

#online {
  background-color: #3ba55b;
  z-index: 0;
}
#dnd {
  background-color: #ea4246;
}
#idle {
  background-color: #f8a61c;
}
#offline {
  background-color: #747f8c;
}
/*-------------------------------*/

@keyframes scrollbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@keyframes rotation {
   20% { transform: rotate(15deg); } 
   40% { transform: rotate(-10deg); } 
   60% { transform: rotate(5deg); } 
   80% { transform: rotate(-5deg); } 
   100% { transform: rotate(0deg); }
}

  @keyframes moretransition {
    from {
      background: 
    linear-gradient(#060411, #060411) padding-box,
    linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%) border-box;
  border: 4px solid transparent;
    }
    to {
      background:
      linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);
      background-size: 300% 100%;
background-position:left bottom;
    }
  }
@keyframes opacity1 {
  100% { 
    opacity: 0;
  }
}

@keyframes opacity2 {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes arrowmove1 {
  0%{margin-top: 0px;}
  100%{margin-top: 20px;}
}

@keyframes arrowmove2 {
  0%{margin-top: 20px;}
  100%{margin-top: 0px;}
  }