* {
  max-width: 100%;
}

@font-face {
 font-family: "wotfard";
 src: url("Wotfard-Regular.woff2");
 font-display: swap;
}


body {
  background-color: #141622;
  margin: 0;
  padding: 0;
  visibility: visible !important;
}

.indicator, .curve-wrapper, .contextmenu, .pretitle {
  display: none;
}

.navbar-h {
  display: none;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.logo-container {
  display: block;
}

#logo {
  position: absolute;
  top: 5px;
  height: 40px;
  width: 40px;
}

.socials {
  height: inherit;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  
}
#discord, #github, #paypal, #youtube, #spotify {
  position: relative;
  color: #e8e8e8;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
}

#menu {
  color: #595959;
  font-size: 20px;
}


#menu-container {
  display: none;
  position: absolute;
  top: 50px;
  height: 250px;
  width: calc(100% - 4px);
  border: 2px solid #3b3b3b;
  background-color: #242424;
  
  /*
  background: linear-gradient(110deg,  
      white 10%, 
      white 23%, 
      #f88a33 23%,
      #fd426d 50%
  );

background-clip: text;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  border-radius: 5px;
  z-index: 20;
}

.link {
  text-decoration: none;
  color: #0060df;
  font-family: "roboto", sans-serif;
}


#home, #projects, #tools, #donate {
  display: inline-block;
  color: white;
  font-size: 19px;
  margin: 20px 10px 20px 10px;
}

#home {
  margin-left: 7px !important;
}

#projects, #donate {
  margin-right: 12.9px !important;
}


.menu-content {
  color: white;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
}

.spotify {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 20px;
  width: 100%;
  
  
}

#spotify-logo {
 height: 25px;
 width: 25px;
 margin-top: 2.5px;
 margin-left: 7px;
}

  #artist, #songname {
    
    display: inline-block;
    color: white; 
    vertical-align: top;
    margin-top: 5.5px;
    font-family: "Sriracha";

    
  }

  .prequote {
    display: none;
    position: relative;
    height: 80px;
    width: 5px;
    background-color: gray;
    border-radius: 50px;
    margin: 50px 0 0 55px;
  }
  .quote-author, .quote {
    font-family: "poppins";
    font-size: 15px;
    font-weight: 200;
    opacity: 0.4;
  }
  .quote-author {
    display: inline-block;
    width: 300px;
    margin: 10px 0 0 30px;
    color: white;
    text-align: right;
  }
  .quote {
    margin: 40px 0 0 20px;
    color: white;
  }
  .quote::before {
    content: "";
    height: calc(1em + 40px);
    width: 3px;
    position: absolute;
    margin-left: -10px;
    background-color: gray;
    border-radius: 50px;
    z-index: 200;
  }

  .line {
    height: 3px;
    width: 50px;
    background-color: #ff7547;
    margin: -8px 0 0 80px;
    border-radius: 50px;
    filter: blur(0.4px);
  }

  .or-title {
    font-family: "poppins";
    font-size: 12px;
    letter-spacing: 2px;
    color: #ff7547;
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0 10px 10px;
  }

  
.wh-subtitle {
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  margin: -15px 0 0 10px;
}

.wh-content {
  font-family: "poppins", sans-serif;
  font-size: 15px;
  margin: 0 0 0 10px; 
  color: white;
}


.break {
  height: 0;
  flex-basis: 100%;
}

.custom-file-upload {
  display: none;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0px;
  height: 600px;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 10px;
  background-color: #181a21;
  border-radius: 24px;
}


#contact-email {
  width: auto;
  height: 82px;
  flex: 1 1 0px;
  flex-wrap: wrap-reverse;
  background-color: #242835;
  border-radius: 18px;
  padding-left: 20px;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  outline: none;
  border: none;
}

#contact-message {
  height: 350px;
  width: auto;
  flex: 1 1 0px;
  background-color: #242835;
  border-radius: 18px;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  resize: none;
}

.contact-submit {
  display: block;
  height: 50px;
  width: auto;
  min-width: 200px;
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: "roboto", sans-serif;
  margin: 0 auto 0 auto;
  background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);
  cursor: pointer;
}


.projects {
  margin: 50px auto 400px auto;
}

.projects-content {
  display: block;
  margin: 100px auto 0 auto;
  height: 300px;
  width: 800px;
}

.projects-item {
  position: relative;
  display: block;
  margin: 20px auto 0 auto !important;
  height: 300px;
  width: 400px;
  background-color: #181A21;
  border-radius: 20px;

}

.projects-img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.projects-title {
  position: absolute;
  top: 10px;
  left: 120px;
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  z-index: 10;
}

.projects-date {
  position: absolute;
  top: 35px;
  left: 120px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  color: #A1A1A1;
}

.projects-description {
  color: white;
  font-family: "roboto", sans-serif;
  margin-left: 17px;
  margin-top: 10px;
}

.projects-button {
  display: none;
  margin: 120px auto 0 auto;
  height: 36px;
  width: 300px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  color: #111319;
  background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);
  border-radius: 50px;
}

.projects-filter {
  display: flex;
  width: 100%;
  margin: 10px 5px 0 5px;
  color: white;
  
}

.filter-btn {
  height: 30px;
  width: fit-content;
  flex: 1 1 0px;
  background-color: #ff7547;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "poppins", sans-serif; 
  margin-left: 10px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
    box-shadow: inset 0 0 0.5em 0 #ff7547, 0 0 0.5em 0 #ff7547;
    position: relative;
    cursor: pointer;
}

.filter-btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #ff7547;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.filter-btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #ff7547;
  opacity: 0;
  background-color: #ff7547;
  z-index: -1;
  transition: opacity 100ms linear;
  border: 2px solid #ff7547;
  border-radius: 5px;
}

.filter-btn:hover,
.filter-btn:focus {
  border-radius: 5px;
  color: white;
  text-shadow: none;
  background-color: #B1553B;
  border: 2px solid #ff7547;
}

.filter-btn:hover::before,
.filter-btn:focus::before {
  opacity: 1;
  top: 130%;
}
.filter-btn:hover::after,
.filter-btn:focus::after {
  opacity: 1;
}

.hometext {
  display: block;
  position: relative;
  height: 100px;
  width: 410px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
  font-size: 65px;
  line-height: 100px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
}

.title p {
  display: inline;
  background: hsla(346, 98%, 63%, 1);

background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FD426D", endColorstr="#F88A33", GradientType=1 );
background-clip: text;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  display: none;
  height: 60px;
  position: relative;
  color: white;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  border: 2px solid #747f8c;
  border-radius: 30px;
  }

#arrow {
  position: relative;
  color: #747f8c;
  line-height: 30px;
  text-align: center;
  margin-top: 0px;
  z-index: 10;
}

#arrow2 {
  display: none;
  position: relative;
  color: #747f8c;
  line-height: 30px;
  text-align: center;
  margin-top: 0px;
  transform: rotate(-180deg);
  z-index: 10;
}
.age {
  display: inline-block;
  background: linear-gradient(90deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);
  font-family: "Roboto";
  font-weight: 700;
  animation: rotation 10s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.json {
  display: none;
  position: relative;
  height: 400px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #002240;
  border-radius: 5px;
}

.json::before {
  display: none;
  content: "";
  position: absolute;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  background: hsla(346, 98%, 63%, 1);

background: linear-gradient(360deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(360deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(360deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fd426d", endColorstr="#f88a33", GradientType=1 );
  filter: blur(20px);
  z-index: -1;
}

#arrow-container {
  display: inline-block;
  width: 100vw;
  height: 50px;
  text-align: center;
}
#button-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  position: relative;
  height: 30px;
  width: 100vw;
}
.more2, #more, #moretext{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  }
#more {
  height: 30px;
  width: 150px;
  color: #060411;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: 1px;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(346, 98%, 63%, 1);

background: linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fd426d", endColorstr="#f88a33", GradientType=1 );

  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  z-index: 3;
  
}

.more2 {
  display: flex;
  height: 30px;
  width: 150px;
  position: relative;
  opacity: 1;
   background: 
    linear-gradient(#060411, #060411) padding-box,
    linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%) border-box;
  border: 4px solid transparent;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
 /* animation: opacity2 3s infinite;*/
  z-index: 1;
}

#moretext  { 
  background: linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fd426d", endColorstr="#f88a33", GradientType=1 );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 30px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* opacity: 0;
  animation-delay: 6s;
  animation: opacity2 3s infinite;*/
  z-index: 2;
}

.dots {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

#line {
  height: 2px;
  background-color: #00162e;
  margin-top: 2px;
}
.basic {
  display: inline;
  color: white; 
  font-family: monospace;
}

.const{
  display: inline;
  color: #9afafb
;
  font-family: "monospace";
}

.key {
  display: inline;
  color: #a28cbb;
}

.key2 {
  display: inline;
  color: #ff80e1;
}

.string {
  display: inline;
  color: #2aa811;
}

.brackets {
  display: inline;
}

.curve {
  display: none;
}
.posts {
  display: none;
  position: absolute;
  top: 670px;
  height: 190px;
  width: 100vw;
}

#subscribe {
  display: inline-block;
  color: #9fa9b7;
  margin-left: 5px;
  margin-top: 1.4px;
}

#popup {
display: none;
position: absolute;
top: 390px;
height: 260px;
width: 360px;
border: 0;
z-index: 20;
}

#posts-num p, #posts-num {
  font-family: "wotfard";
  color: #9fa9b7;
  margin-bottom: 19px;
}
#posts-num p {
  display: inline;
  margin-left: 10px;
}

.post {
  height: 100px;
  /*border: 2px solid #3b4163;*/
  border-radius: 15px;
  margin-bottom: 9px;
}

.date{
  color: #727d92;
  font-family: "wotfard";
  font-size: 15px;
  margin-left: 8px;
}
.post h6 {
  margin-top: 11px;
  margin-left: 5px;
  color: white;
  font-family: "Roboto";
  font-size: 20px;

}


.post p:not(.date) {
  color: #9faab8;
  font-family: "Sriracha";
  margin-top: -30px;
  margin-left: 7px;
  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #181a21;
  width: 100%;
  margin-top: 40px;
}

#footer-gradient {
  height: 100px;
  margin-top: -90px;
  margin-left: 0;
  z-index: -1;
}

#footer-gradient rect {
  fill: url("#SvgGradient2");
  filter: blur(20px)
}

footer p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "roboto", sans-serif;
  white-space: nowrap;

}

#footer-discord, #footer-github, #footer-paypal, #footer-youtube, #footer-spotify {
  display: none;
}

/* STATES ---------------------*/
#online, #dnd, #idle, #offline {
 display: none;
  position: absolute;
  top: 30px;
  left: 22px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 3px solid #141622;
  z-index: 20;
  
}

#online {
  background-color: #3ba55b;
  z-index: 0;
}
#dnd {
  background-color: #ea4246;
}
#idle {
  background-color: #f8a61c;
}
#offline {
  background-color: #747f8c;
}
/*-------------------------------*/

@keyframes rotation {
   20% { transform: rotate(15deg); } 
   40% { transform: rotate(-10deg); } 
   60% { transform: rotate(5deg); } 
   80% { transform: rotate(-5deg); } 
   100% { transform: rotate(0deg); }
}

  @keyframes moretransition {
    from {
      background: 
    linear-gradient(#060411, #060411) padding-box,
    linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%) border-box;
  border: 4px solid transparent;
    }
    to {
      background:
      linear-gradient(45deg, hsla(346, 98%, 63%, 1) 0%, hsla(26, 93%, 59%, 1) 100%);
      background-size: 300% 100%;
background-position:left bottom;
    }
  }
@keyframes opacity1 {
  100% { 
    opacity: 0;
  }
}

@keyframes opacity2 {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes arrowmove1 {
  0%{margin-top: 0px;}
  100%{margin-top: 20px;}
}

@keyframes arrowmove2 {
  0%{margin-top: 20px;}
  100%{margin-top: 0px;}
}